.next
node_modules
.env.local

public/data/*

# These datasets are to be overridden manually
!public/data/links
!public/data/teamcolorcodes

# This is required to make build on Vercel works
data/*

# Temporary in local development
*.temp.*

# Generated favicons
*.cli-real-favicon.*
public/favicons/*
.vercel
