name: E2E
on: [deployment_status]
jobs:
  app:
    if:
      github.event.deployment_status.state == 'success' &&
      github.event.deployment.environment == 'Production – open-fpl-app'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout latest commit
        uses: actions/checkout@v2
        with:
          ref: ${{ github.head_ref }}
          fetch-depth: 0
      - name: Set up node
        uses: actions/setup-node@v2
        with:
          node-version: "14"
          # cache: "yarn" # Got "Cache service responded with 403" error
      - name: Install packages
        run: yarn
        working-directory: packages/app
      - name: Run test
        run: yarn e2e:app
  data:
    if:
      github.event.deployment_status.state == 'success' &&
      github.event.deployment.environment == 'Production – open-fpl-data'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout latest commit
        uses: actions/checkout@v2
        with:
          ref: ${{ github.head_ref }}
          fetch-depth: 0
      - name: Set up node
        uses: actions/setup-node@v2
        with:
          node-version: "14"
          # cache: "yarn" # Got "Cache service responded with 403" error
      - name: Install packages
        run: yarn
        working-directory: packages/data
      - name: Run test
        run: yarn e2e:data
  www:
    if:
      github.event.deployment_status.state == 'success' &&
      github.event.deployment.environment == 'Production – open-fpl-www'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout latest commit
        uses: actions/checkout@v2
        with:
          ref: ${{ github.head_ref }}
          fetch-depth: 0
      - name: Set up node
        uses: actions/setup-node@v2
        with:
          node-version: "14"
          # cache: "yarn" # Got "Cache service responded with 403" error
      - name: Install packages
        run: yarn
        working-directory: packages/www
      - name: Run test
        run: yarn e2e:www
